**/*_lock*
**/*.lock*
**/*logs
**/*Logs

**/bash/*history

**/FreeFileSync/GlobalSettings.xml

**/Code/User/*
!**/Code/User/snippets
!**/Code/User/keybindings.json
!**/Code/User/settings.json

**/micro/buffers/*

**/mpd/database

**/qBittorrent/*data*

**/vlc/vlc-qt-interface.conf

**/zsh/.oh-my-zsh/custom/plugins/*
!**/zsh/.oh-my-zsh/custom/plugins/example
